{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="lg-card white">
        <div class="card-content black-text">
          <p class="title">About ArtSellNShop</p>
          <p>ArtSellNShop provides a user friendly platform for art lovers and artists from all around the world
            to either sell or purchase one of a kind, handcrafted masterpeices. Sign up to safely make a purchases and sell your own artwork.</p>
        </div>
    </div>
</div>
{% endblock %}