{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" href="static/shop/images/flower-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="static/shop/style.css">
    <title>ArtSellNShop</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% block additional_styles %}
    <style>
        body{   
            background-image: url('static/shop/images/black72.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            }
    </style>
    {% endblock %}
    {% block content %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        // Material boxed
            const mb = document.querySelectorAll('.materialboxed');
            M.Materialbox.init(mb, {});
    </script>
</body>
</html>