{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container center">
    <div class="lg-card white">
        <div class="card-content black-text">
            <p class="title">Order #{{items.id}}</p>  
            {% for item in items.items.all %}
            <div style="display: flex;">
            <p>{{item.item.title}}</p>
            <p>Price: {{item.item.price}}</p>
            <img src="{{ item.item.image.url }}" height="200">
            </div>  
            {% endfor %}
            <a class="waves-effect indigo darken btn" href="{% url 'order_list' %}">Back to orders</a>
        </div>
    </div>
</div>
{% endblock %}
