.title{
    font-size: xx-large;
    color: blueviolet;
    margin-top: 20px;
    margin-left: 20px;
}

.animals{
    margin-left: 20px;
}
.headings{
    color: rgb(103, 155, 155) ;
    text-decoration: underline;
}