{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {{block.super}}
    <div class="animals">
        <h1 class= 'headings'>{{animal.animal_name}}:</h1>
        
        <p>Height: {{animal.height}}</p>
        <p>Legs: {{animal.legs}}</p>
        <p>Weight: {{animal.weight}}</p>
        <p>Speed: {{animal.speed}}</p>
        <p>Family: {{animal.family.name}}</p>
        <p>Family ID: {{animal.family.id}}</p>


        <a class = "btn btn-secondary" href="{% url 'animals' %}">Back</a>
    </div>
    {% endblock %}
</body>
</html>